/*DEV note: At any cost never change anything in this file */
.light {
  --md-sys-color-primary: rgb(25 101 132);
  --md-sys-color-surface-tint: rgb(25 101 132);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(194 232 255);
  --md-sys-color-on-primary-container: rgb(0 77 103);
  --md-sys-color-secondary: rgb(23 101 132);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(193 232 255);
  --md-sys-color-on-secondary-container: rgb(0 77 102);
  --md-sys-color-tertiary: rgb(97 98 24);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(231 231 143);
  --md-sys-color-on-tertiary-container: rgb(73 73 0);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(246 250 254);
  --md-sys-color-on-background: rgb(23 28 31);
  --md-sys-color-surface: rgb(253 249 236);
  --md-sys-color-on-surface: rgb(28 28 20);
  --md-sys-color-surface-variant: rgb(229 227 209);
  --md-sys-color-on-surface-variant: rgb(72 71 58);
  --md-sys-color-outline: rgb(121 120 105);
  --md-sys-color-outline-variant: rgb(201 199 182);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(49 49 40);
  --md-sys-color-inverse-on-surface: rgb(244 241 227);
  --md-sys-color-inverse-primary: rgb(142 207 242);
  --md-sys-color-primary-fixed: rgb(194 232 255);
  --md-sys-color-on-primary-fixed: rgb(0 30 43);
  --md-sys-color-primary-fixed-dim: rgb(142 207 242);
  --md-sys-color-on-primary-fixed-variant: rgb(0 77 103);
  --md-sys-color-secondary-fixed: rgb(193 232 255);
  --md-sys-color-on-secondary-fixed: rgb(0 30 43);
  --md-sys-color-secondary-fixed-dim: rgb(141 207 241);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 77 102);
  --md-sys-color-tertiary-fixed: rgb(231 231 143);
  --md-sys-color-on-tertiary-fixed: rgb(29 29 0);
  --md-sys-color-tertiary-fixed-dim: rgb(203 203 118);
  --md-sys-color-on-tertiary-fixed-variant: rgb(73 73 0);
  --md-sys-color-surface-dim: rgb(221 218 205);
  --md-sys-color-surface-bright: rgb(253 249 236);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(247 244 230);
  --md-sys-color-surface-container: rgb(241 238 225);
  --md-sys-color-surface-container-high: rgb(235 232 219);
  --md-sys-color-surface-container-highest: rgb(230 227 213);
}

.dark {
  --md-sys-color-primary: rgb(142 207 242);
  --md-sys-color-surface-tint: rgb(142 207 242);
  --md-sys-color-on-primary: rgb(0 53 72);
  --md-sys-color-primary-container: rgb(0 77 103);
  --md-sys-color-on-primary-container: rgb(194 232 255);
  --md-sys-color-secondary: rgb(141 207 241);
  --md-sys-color-on-secondary: rgb(0 53 72);
  --md-sys-color-secondary-container: rgb(0 77 102);
  --md-sys-color-on-secondary-container: rgb(193 232 255);
  --md-sys-color-tertiary: rgb(203 203 118);
  --md-sys-color-on-tertiary: rgb(50 50 0);
  --md-sys-color-tertiary-container: rgb(73 73 0);
  --md-sys-color-on-tertiary-container: rgb(231 231 143);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(15 20 23);
  --md-sys-color-on-background: rgb(223 227 231);
  --md-sys-color-surface: rgb(20 20 12);
  --md-sys-color-on-surface: rgb(230 227 213);
  --md-sys-color-surface-variant: rgb(72 71 58);
  --md-sys-color-on-surface-variant: rgb(201 199 182);
  --md-sys-color-outline: rgb(147 145 130);
  --md-sys-color-outline-variant: rgb(72 71 58);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(230 227 213);
  --md-sys-color-inverse-on-surface: rgb(49 49 40);
  --md-sys-color-inverse-primary: rgb(25 101 132);
  --md-sys-color-primary-fixed: rgb(194 232 255);
  --md-sys-color-on-primary-fixed: rgb(0 30 43);
  --md-sys-color-primary-fixed-dim: rgb(142 207 242);
  --md-sys-color-on-primary-fixed-variant: rgb(0 77 103);
  --md-sys-color-secondary-fixed: rgb(193 232 255);
  --md-sys-color-on-secondary-fixed: rgb(0 30 43);
  --md-sys-color-secondary-fixed-dim: rgb(141 207 241);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 77 102);
  --md-sys-color-tertiary-fixed: rgb(231 231 143);
  --md-sys-color-on-tertiary-fixed: rgb(29 29 0);
  --md-sys-color-tertiary-fixed-dim: rgb(203 203 118);
  --md-sys-color-on-tertiary-fixed-variant: rgb(73 73 0);
  --md-sys-color-surface-dim: rgb(20 20 12);
  --md-sys-color-surface-bright: rgb(58 58 48);
  --md-sys-color-surface-container-lowest: rgb(15 15 7);
  --md-sys-color-surface-container-low: rgb(28 28 20);
  --md-sys-color-surface-container: rgb(32 32 24);
  --md-sys-color-surface-container-high: rgb(43 42 34);
  --md-sys-color-surface-container-highest: rgb(54 53 44);
}